<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="assets/css/login.css">
    </head>
    <body>
        <form class="login_form">
            <div class=""login_form_top>
                <h1>LOGIN</h1>
            </div>
            <div class="login_form_btn">
                <input type="id" name="user_id" placeholder="Input User ID"><br/>
                <input type="password" name="password" placeholder="Input Password">
            </div>
            <button type="submit">Login</button>
        </form>
    </body>
</html>